* {
  margin: 0px;
  padding: 0px;
}
.title {
  display:flex;
  justify-content: center;
  margin-top: 10px;
  border: 2px solid black;
  border-bottom: 0px;
  padding: 10px;
}
.boxes__entry {
  padding: 15px;
  padding-bottom: 20px;
}
.boxes__newStamp {
  width: 40px;
  height: 20px;
  float: right;
  background-color: grey;
  text-align: center;
  padding: 5px;
  margin-top: 7px;
}
.boxes__subtitle {
  padding: 15px;
  padding-bottom: 11px;
}
/* ------------- FULL BOXES ------------------------------------------*/
  .boxes {
    display: flex;
    flex-direction: row;
  }
  .boxes__left {
    border: 2px solid black;
    border-right: 1px solid black;
    width: 50%;
  }
  .boxes__right {
    border: 2px solid black;
    border-left: 1px solid black;
    width: 50%;
  }
  @media (max-width: 600px) {
    .boxes {
      flex-direction: column;
    }
    .boxes__left .boxes__right {
      border-top: none;
      border-left: 2px solid black;
    }
    .boxes__left {
      width: 100%;
      box-sizing: border-box;
    }
    .boxes__right {
      width: 100%;
      box-sizing: border-box;
    }
  }